<section class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="5.0%" flayoutAlign="center">
  
  <mat-card class="product-form" fxFlex="50%">
    <!-- <mat-card-title fxLayoutAlign="center">Time to start a workout!</mat-card-title> -->
    <mat-card-content fxLayoutAlign="center">

      <form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" #productForm="ngForm" (ngSubmit)="onSubmit(productForm)">
        <mat-form-field>
          <input 
            type="text" 
            matInput 
            placeholder="Product Title" 
            [(ngModel)] ="product.title"
            name="title"
            required
            #productTitleInput="ngModel">
          <mat-error *ngIf="productTitleInput.hasError('required')">Title is Required</mat-error>
          <mat-error *ngIf="!productTitleInput.hasError('required')">Entry is invalid!</mat-error>
        </mat-form-field>
    
        <mat-form-field hintLabel="">
          <input
            type="number" 
            matInput 
            placeholder="Product Price" 
            [(ngModel)] ="product.price" 
            name="price"
            min="0.00"
            step="0.01"
            oninput="validity.valid||(value='');"
            required
            #priceInput="ngModel">
          <span matPrefix>$&nbsp;</span>
          <mat-error *ngIf="priceInput.hasError('required')">Price is required</mat-error>
          <!-- <mat-error *ngIf="priceInput?.value < 0">Price must be positive!</mat-error> -->
        </mat-form-field>
    
        <mat-form-field>
            <mat-select placeholder="Select a Category" [(ngModel)]="product.category" name="category" required>
              <mat-option value="">-- Select One --</mat-option>
              <mat-option *ngFor="let category of categories$ | async" [value]="category.id">
                {{ category.name }}
              </mat-option>
            </mat-select>
        </mat-form-field>
    
        <mat-form-field>
          <input 
            type="text" 
            matInput 
            placeholder="ImageURL" 
            [(ngModel)] ="product.imageURL" 
            name="imageURL"
            required
            url
            #imageURLInput="ngModel">
          <mat-error *ngIf="imageURLInput.hasError('required')">ImageURL is required!</mat-error>
          <mat-error *ngIf="imageURLInput.hasError('url')">Please Enter a valid URL</mat-error>
        </mat-form-field>
    
        <button type="submit" mat-raised-button color="primary" [disabled]="productForm.invalid">Submit</button>
        <button type="button" mat-raised-button color="warn" (click)="deleteProduct()">Delete</button>
      </form>     
    </mat-card-content>
  </mat-card>

  <app-product-card [product]="product" [show-actions]="false"></app-product-card>

</section>
